<DOCTYPE html>
<html>
	<head>
		<title>{{pageTitle}} </title>
		<meta charset = "utf-8">
	</head>
	<body>
		{{> header}}
		<p> {{screamIt "This is my website."}}</p>
		<p>Hi {{name}}. I heard you like {{likes}}</p>
	</body>
	
	{{> footer}}

</html>