<DOCTYPE html>
<html>
	<head>
		<title>{{pageTitle}} </title>
		<meta charset = "utf-8">
	</head>
	<body>
		{{> header}}
		<p>This is my portfolio. It is currently under development, both my portfolio and this website as well.</p>
	</body>
	
	{{> footer}}

</html>